/**DO NOT TOUCH**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**DO NOT TOUCH END**/


.main-nav{
background: #dde5ec;
background: -moz-linear-gradient(top,  #dde5ec 0%, #c4d1de 100%);
background: -webkit-linear-gradient(top,  #dde5ec 0%,#c4d1de 100%);
background: linear-gradient(to bottom,  #dde5ec 0%,#c4d1de 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dde5ec', endColorstr='#c4d1de',GradientType=0 );
/**GRADIENT**/
width:100%;
height:50px;
}
.icon-bg{
background:pink;
height:100%;
width:50px;
float:left;
margin:0 100px 0 0;
}
nav{
float:left;
}
nav ul{
/**background:red;**/
width:730px;
padding:20px 0 0 0;
}
nav li{
 display:inline;
 margin:0 80px 0 0;
}
nav a{

 text-decoration:none;
 color:#ffffff;
 font-size:18px;
}

/*********Feature*******/

#feature{
height:630px;
width:100%;
background: url("../images/bg1.jpg") no-repeat fixed center;
background-size:cover;
}


.truck img{
margin: 0 auto;
display: block;
position: relative;
padding: 40px 0px 0px 0px ; 

}

.truck h2{

color: #ffffff; 
margin: 0px 0px 20px 0px;
font-size: 60px;
font-family: 'Kameron', serif;
font-weight: 700; 
letter-spacing: 10px;

}

#feature p{
color: #ffffff;
text-align: center;
font-family: 'Kameron', serif;
font-size:24px;
margin: 0px 0px 50px 0px;

}

#search{

width: 545px;
margin: 0 auto; 

}



.search-text{
height: 60px;
width: 430px;
background: #ffffff;
margin: 0px 10px 35px 0px; 
float: left;
border-radius: 10px;

color: #a6aab3;
text-indent: 10px;
font-size: 20px;
line-height: 300% ;
text-indent: 10px; 
font-family: 'PT Sans', sans-serif;

}

.search-text img{
 
padding: 15px 0px 0px 10px;
float: left;
}


.search-button{

width: 105px; 
background: #dde5ec; 
float: left;
border-radius: 10px;
padding: 21px 0px;

color: #ffffff;
text-align: center;
font-size: 18px;
font-family: 'PT Sans', sans-serif;
}

#arrow{
width: 65px;
margin: 0 auto;
display: block;
position: relative;
padding: 0px 0px 18px 0px;

}

/*********How-it-Works*******/

#how-it-works{
width:100%;
height:530px;
}

.third{
width:33.33%;
float: left;

}

h2{
font-size:40px; 
text-align: center; 
color: #2e4356;
margin: 40px 0px;
font-family: 'Kameron', serif;
font-weight: 700;
}

h3{
font-size:18px; 
text-align: center;
color: #2e4356;
margin: 0px 0px 20px 0px;
font-family: 'Kameron', serif;
font-weight: 400; 
}

.third img{
position: relative;
display:block;
margin: auto; 
}

/** margin : top right bottom left (TB RL) auto = the image will
center itself relative to its container 

position: fixed doesn't move 
absolute: fixed to the browser , moves if browser is changed

padding: the empty space between your content and border  **/


#tom{
height:600px ;
width:100% ;
background:url("../images/food-court.png") no-repeat center;
background-size:cover;
padding: 30px 0px 0px 0px;
}

#tom p{
font-family: 'PT Sans', sans-serif;
font-weight: 400;
font-size: 30px;
color: #ffffff; 
text-align: center;
line-height:150%;
margin:0px 0px 20px 0px;

}

#tom h2{
margin:40px 0px 20px 0px;
font-family: 'Kameron', serif;
font-weight: 700;
}

#tom img{
position: relative; 
display:block;
margin: auto;
}

footer{
width:100%;
height:370px;
background-color: #2e0511; 

}

footer img{
position: absolute; 
display:block;
padding: 100px 0px;
width: 843px;
margin-left: -421.5px;
left: 50%;
opacity:.2;
}

footer ul a{
text-decoration: none; 
display:block;
color: #ffffff; 
font-family: 'PT Sans', sans-serif;
}

footer ul{
position: relative; 
display: block;
padding: 160px 0px 0px 0px;
margin: 0 auto;
width:700px;
}

footer li{  
float: left;
font-size: 12pt;
margin: 0px 50px 0px 0px;
text-transform: uppercase;

}

footer li a::first-letter{

font-size: 130%;
}

footer li:last-child{
margin-right: 0px;
}
